body {
	background-color: lightgray;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: center;
	text-decoration: none;
}

.volver a {
	text-decoration: none;
	color: #000;
}

.volver a:hover {
	text-decoration: none;
	background-color: #555;
   color: white;
}

li a {
   display: block;
   color: #000;
   padding: 0px 0px;
   text-decoration: none;
   text-align: right;
   width: 140px;
}


li a:hover {
   background-color: #555;
   color: white;
}

ul {
	list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100px;
   background-color: lightgray;
}

.ulint {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 160px;
   background-color: lightgray;
}

.title {
	font-size: 14pt;
}

table {
	align-self: center;
	border-width: 1px 1px 1px 1px;
	border-style: none;
	border-color: black;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: lightgray;
	text-align: center;
}

.table {
	align-self: center;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: lightgray;
	text-align: center;
}

.tableli {
	align-self: center;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: lightgray;
	text-align: center;
}

.tableli td, th {
    border: 1px solid #fff;
    padding: 8px;
}

.tableli tr:nth-child(even){background-color: #f2f2f2;}

.tableli tr:hover {background-color: #ddd;}

.tableli th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightgray;
    color: black;
}

.liint a{
	display: block;
   color: #000;
   padding: 0px 0px;
   text-decoration: none;
   text-align: center;
   width: 160px;
}

td, th {
    border: 0px;
    text-align: center;
    padding: 8px;
}